@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1.h_text-center {
    margin: 30px;
    color: rgb(48, 45, 45);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f3ec;
}
h3 {
    /* marin-top:25%; */
    margin-left: 0px !important;
}
.navbar{
min-height:50px;
max-height: 51px;
    background-color: #B3D543;
    position: absolute;
}
/* .row{
    border:1px solid rgb(204, 199, 199);

} */
div.text-left.sidemark{
  position:absolute;
  left:5px;
  top:5px;
}

#rolli{
    background-color: white;
    border: 1px solid rgb(204, 199, 199);
    border-radius: 2px;
    /* min-height: 250px; */
    /* margin-bottom: 20px; */
    box-shadow: 2px 2px 5px #c7c5c5;
    
 }  

.descrip {
    margin-top: .5rem;
}
.img-circle{
  background-color:#ED7529;
  background-image: url('../img/icons/man.png');
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#rowli {
    /* background-color:#ED7529; */

 
}

ul p {
    display: inline-block;
    /* margin-left: 5px; */
    text-decoration: none;
    font-size: 11px;
}

ul li {
    text-decoration-style: none;
}

a.more {
    color: #ED7529 !important;
    z-index: 154;
}

.h_text-center {
    /* font-size: px!important; */
}
.homeWelcome{
    position:absolute;
    z-index:100;
    top:340px;
    width:380px;
    left:-2px;
}
.justify-content-center.text-center:first-child{
 margin-bottom: 450px;
}
.userPicture{
    border-radius:50% ;
    border:2px solid #ED7529;
    min-height: 50px;
    
}
.techerList{
    position:relative;
    top: 80px;
    min-height: 100px;
    margin-bottom: 10px;
    background-color: #B3D543;
}
.return{
    position:fixed;
    top: 600px;
    left:6px;
    z-index: 150;
}
.next {
    position:fixed;
    top: 600px;
    left: 330px;
    z-index:151;
}
h2.text-center.requestModa {
margin-top: 150px;
}
div.col-md-8.request{
      border:1px solid #B3D543;
      min-height: 80px;
      border-radius:2px;
      margin:10px;
      box-shadow: rgb(189, 194, 173) 1px 2px 1px;
      /*-webkit-border-radius:2px;
      -moz-border-radius:2px;
      -ms-border-radius:2px;
      -o-border-radius:2px; */
}
.reqmore{
      
      min-height: 80px;
      border-radius:2px;
    color:#B3D543;
    position:relative;
    left:35px;
    top:30px;
}