nav.sm-dark{
    background-color: #ED7529;
    color:white;
}
.pillar{
   color:white;
}

h2.text-center.requestModa {
    margin-top: 150px !important;
    color:rgb(122, 64, 28);
}

div.col-md-8.request {
    border: 1px solid rgb(207, 120, 66);
    min-height: 80px;
    border-radius: 2px;
    margin: 10px;
    box-shadow: rgb(189, 194, 173) 1px 2px 1px;
    /*-webkit-border-radius:2px;
      -moz-border-radius:2px;
      -ms-border-radius:2px;
      -o-border-radius:2px; */
}

.reqmore {
    min-height: 80px;
    border-radius: 2px;
    color: #ED7529;
    position: relative;
    left: 35px;
    top: 30px;
}

h2.requestM{
    margin-top:200px !important;
}
