div.parentprofile{
    position:relative;
    left:3%;
    margin-top: 25px;
}
.pare{
    position:absolute;
    top:100px;
    padding-top: 25px;
} 
.paret{
    margin-left: 35%;
    padding-bottom: 15px;
}
.stat{
    padding-bottom: 50px;
}